<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  <title>Image Classifier</title>

  <style>
  
  </style>
</head>
<body>

<div class="box">

  <h2 style="color: white;">Upload Image</h2>

  <input type="file" id="imageInput" accept="image/*">

  <br>

  <img id="preview">

  <br>

  <button id="predictBtn">Predict</button>

  <div id="result"></div>
  <div id="recommendation"></div>
  <div id="first_aid"></div>
  <div id="vet"></div>
</div>

<script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>